DorkWeb/Service References/DorkServiceReference/DorkService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoogleDorkParent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoogleDorkParent" nillable="true" type="tns:GoogleDorkParent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoogleDorkParent" nillable="true" type="tns:ArrayOfGoogleDorkParent" />
  <xs:complexType name="GoogleDorkParent">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoogleDorks" nillable="true" type="tns:ArrayOfGoogleDork" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleDorkParent" nillable="true" type="tns:GoogleDorkParent" />
  <xs:complexType name="ArrayOfGoogleDork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoogleDork" nillable="true" type="tns:GoogleDork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoogleDork" nillable="true" type="tns:ArrayOfGoogleDork" />
  <xs:complexType name="GoogleDork">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscoveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GhdbUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleDorkParentId" type="xs:int" />
      <xs:element minOccurs="0" name="GoogleUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleDork" nillable="true" type="tns:GoogleDork" />
  <xs:simpleType name="GoogleDorkParentSort">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Name" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GoogleDorkParentSort" nillable="true" type="tns:GoogleDorkParentSort" />
</xs:schema>