DorkWeb/Service References/DorkServiceReference/DorkService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DorkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" />
      <xsd:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDorkService_GetGoogleDorks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoogleDorks" />
  </wsdl:message>
  <wsdl:message name="IDorkService_GetGoogleDorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoogleDorksResponse" />
  </wsdl:message>
  <wsdl:message name="IDorkService_SearchGoogleDorks_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchGoogleDorks" />
  </wsdl:message>
  <wsdl:message name="IDorkService_SearchGoogleDorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchGoogleDorksResponse" />
  </wsdl:message>
  <wsdl:message name="IDorkService_GetGoogleDorkParents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoogleDorkParents" />
  </wsdl:message>
  <wsdl:message name="IDorkService_GetGoogleDorkParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoogleDorkParentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDorkService">
    <wsdl:operation name="GetGoogleDorks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDorkService/GetGoogleDorks" message="tns:IDorkService_GetGoogleDorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDorkService/GetGoogleDorksResponse" message="tns:IDorkService_GetGoogleDorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchGoogleDorks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDorkService/SearchGoogleDorks" message="tns:IDorkService_SearchGoogleDorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDorkService/SearchGoogleDorksResponse" message="tns:IDorkService_SearchGoogleDorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGoogleDorkParents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDorkService/GetGoogleDorkParents" message="tns:IDorkService_GetGoogleDorkParents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDorkService/GetGoogleDorkParentsResponse" message="tns:IDorkService_GetGoogleDorkParents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDorkService" type="tns:IDorkService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGoogleDorks">
      <soap:operation soapAction="http://tempuri.org/IDorkService/GetGoogleDorks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchGoogleDorks">
      <soap:operation soapAction="http://tempuri.org/IDorkService/SearchGoogleDorks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoogleDorkParents">
      <soap:operation soapAction="http://tempuri.org/IDorkService/GetGoogleDorkParents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DorkService">
    <wsdl:port name="BasicHttpBinding_IDorkService" binding="tns:BasicHttpBinding_IDorkService">
      <soap:address location="http://dorkservices.com/Services/DorkService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>