DorkWeb/Service References/DorkServiceReference/DorkService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" />
  <xs:import schemaLocation="http://dorkservices.com/Services/DorkService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetGoogleDorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoogleDorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" minOccurs="0" name="GetGoogleDorksResult" nillable="true" type="q1:ArrayOfGoogleDorkParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGoogleDorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="googleDorkParentIds" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGoogleDorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" minOccurs="0" name="SearchGoogleDorksResult" nillable="true" type="q3:ArrayOfGoogleDorkParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoogleDorkParents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" minOccurs="0" name="googleDorkParentSort" type="q4:GoogleDorkParentSort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoogleDorkParentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" minOccurs="0" name="GetGoogleDorkParentsResult" nillable="true" type="q5:ArrayOfGoogleDorkParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>