DorkConsole/Service References/DorkSyncServiceReference/DorkSyncService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GoogleDorkSyncProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GhdbUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleDorkParentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentageComplete" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessedNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleDorkSyncProgress" nillable="true" type="tns:GoogleDorkSyncProgress" />
</xs:schema>