DorkWindowsApp/Service References/DorkSyncServiceServiceReference/DorkSyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dorkservices.com/Services/DorkSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" />
  <xs:element name="SyncGoogleDorks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoogleDorksProcessed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DorkServices.DataContracts" minOccurs="0" name="processedItem" nillable="true" type="q1:GoogleDorkSyncProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoogleDorksProcessedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>